.main-app-container{
    width: 100vw;
    height: 100vh;
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}
/* .main-app-container span{
    font-size: 20px;
    margin-top: 8vh;
    color: white;
    display: flex;
}
.main-app-container img{
    width: 600px;
    height: auto;
} */
.logout-button{
    margin-top: 30px;
    width: 60px;
    height: 20px;
}
.carousel-container{
    margin-top: 8vh;
    width: 100%;
}
@media only screen and (max-width: 768px) {
    .main-app-container img{
        width: 90%;
    }
}