.register-container{
    margin-top: 8vh;
    height: 562px;
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F9F9F9;
    border-radius: 5px;
}

.register-heading{
    text-align: center;
    cursor: default;
    margin-top: 10px;
}
/* .heading h3{
    cursor: default;
} */
.register-input-box{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 10px;
}

.register-name-input, .register-email-input, .register-password-input, .register-repeat-password-input{
  margin-top: 10px;
  height: 59px;
  width: 359px;
  border-radius: 5px; 
  outline: none;
  border: none;
  text-indent: 5px;
  font-weight: bold;
  background-color: #EDEDED;
}


.register-name-input:focus, .register-email-input:focus , .register-password-input:focus , .register-repeat-password-input:focus{
    border: 2px solid #000000;
    background: #F9F9F9;
    box-shadow: none;
}
.password-input:invalid{
    box-shadow: none;
}

.register-password-input:hover, .register-name-input:hover, .register-email-input:hover, .register-repeat-password-input:hover{
    background: #D4D4D4;
}
.register-name-label{
    position: absolute;
    z-index: 20;
    margin-right: 229px;
    margin-top: -195px;
   color: #525252;
   transition: all 0.3s ease;
   pointer-events: none;
}
.register-name-input:focus + .register-name-label, .register-name-input:valid + .register-name-label{
    transform: translate(-50%,-80%);
    font-size: smaller;
    
}

.register-email-label{
    position: absolute;
    z-index: 20;
    margin-right: 250px;
    margin-top: -55px;
   color: #525252;
   transition: all 0.3s ease;
   pointer-events: none;
}
.register-email-input:focus + .register-email-label, .register-email-input:valid + .register-email-label{
    transform: translate(-65%,-80%);
    font-size: smaller;
    
}
.register-password-label{
    position: absolute;
    z-index: 20;
    margin-right: 208px;
    margin-top: 80px;
   color: #525252;
   transition: all 0.3s ease;
   pointer-events: none;
}
.register-password-input:focus + .register-password-label, .register-password-input:valid + .register-password-label{
    transform: translate(-40%,-80%);
    font-size: smaller;
    
}

.register-repeat-password-label{
    position: absolute;
    z-index: 20;
    margin-right: 160px;
    margin-top: 215px;
   color: #525252;
   transition: all 0.3s ease;
   pointer-events: none;
}
.register-repeat-password-input:focus + .register-repeat-password-label, .register-repeat-password-input:valid + .register-repeat-password-label{
    transform: translate(-25%,-80%);
    font-size: smaller;
    
}


.invisible{
    display:none;
}


.register-error-container{
    width: 100%;
    height: 30px;
    display: flex;
    margin-left: 85px;
    align-content: flex-start;
}
.register-error-container span{
    color: #F33501;
}
.register-name-input-error{
    position: absolute;
    z-index: 60;
    margin-top: -190px;
    margin-left: 320px;
}
.register-email-input-error{
    position: absolute;
    z-index: 66;
    margin-top: -55px;
    margin-left: 320px;
}
.register-password-input-error{
    position: absolute;
    z-index: 68;
    margin-top: 80px;
    margin-left: 320px;
}
.register-repeated-password-input-error{
    position: absolute;
    z-index: 69;
    margin-top: 215px;
    margin-left: 320px;
}
.register-captcha-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    width: 100%;
    height: 81px;
}
.register-buttom-box{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    width: 100%;
    height: 81px;
}
.register-buttom-box button{
    width: 81px;
	height: 81px;
    border: none;
    outline: none;
    border-radius: 30px; 
    cursor: pointer;
    background: linear-gradient(to top, #84cdfa 50%, #F9F9F9 50%);
    background-size: 100% 200%;
    background-position: bottom left;
    transition: all .5s ease-out;
}
.register-buttom-box button:disabled{
    width: 81px;
	height: 81px;
	border:2px solid #EDEDED;
    border-radius: 30px; 
    cursor: pointer;
    background: linear-gradient(to top, #84cdfa 50%, #F9F9F9 50%);
    background-size: 100% 200%;
    background-position: top left;
    transition: all .5s ease-out;
}

  
.register-link-box {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
}
.register-link-box a{
    color: #B2B2B2;
    font-weight:bold;
    text-decoration:none;
    cursor: pointer;
     
}
.register-link-box a:hover{
    color: #000000;
    font-weight:bold;
    text-decoration:none;
    cursor: pointer;
     
}

@media only screen and (max-width: 500px) {
    .register-container{
        height: 550px;
        width: 350px;
    
    }
    .register-name-input, .register-email-input, .register-password-input, .register-repeat-password-input{

      width: 95%;
    }
    .register-name-input:focus + .register-name-label, .register-name-input:valid + .register-name-label{
        transform: translate(-30%,-80%);
        
    }
    .register-email-input:focus + .register-email-label, .register-email-input:valid + .register-email-label{
        transform: translate(-33%,-80%);
     
        
    }
    .register-password-input:focus + .register-password-label, .register-password-input:valid + .register-password-label{
        transform: translate(-20%,-80%);
      
        
    }
    .register-repeat-password-input:focus + .register-repeat-password-label, .register-repeat-password-input:valid + .register-repeat-password-label{
        transform: translate(-12%,-80%);
     
    }

    .register-name-input-error{
       
        margin-left: 300px;
    }
    .register-email-input-error{
        
        margin-left: 300px;
    }
    .register-password-input-error{
       
        margin-left: 300px;
    }
    .register-repeated-password-input-error{
       
        margin-left: 300px;
    }
    
    .register-error-container{
        
        margin-left: 15px;
        
    }
    .register-link-box{
        margin-top: 10px;
    }
 }

 @media only screen and (max-width: 300px) {
    .register-container{
        height: 550px;
        width: 270px;
    
    }
    .register-name-input, .register-email-input, .register-password-input, .register-repeat-password-input{

        width: 95%;
      }
      .register-name-label{
        margin-right: 180px;
        margin-top: -195px;
       
    }
      .register-name-input:focus + .register-name-label, .register-name-input:valid + .register-name-label{
          transform: translate(-5%,-68%);
          
      }
      .register-email-label{
        margin-right: 190px;
        margin-top: -60px;
       
    }
      .register-email-input:focus + .register-email-label, .register-email-input:valid + .register-email-label{
          transform: translate(-20%,-80%);
       
          
      }
      .register-password-label{
        margin-right: 155px;
        margin-top: 80px;
       
    }
      .register-password-input:focus + .register-password-label, .register-password-input:valid + .register-password-label{
          transform: translate(-8%,-80%);
        
          
      }
      .register-repeat-password-label{
        margin-right: 95px;
        margin-top: 215px;
       
    }
      .register-repeat-password-input:focus + .register-repeat-password-label, .register-repeat-password-input:valid + .register-repeat-password-label{
          transform: translate(-10%,-80%);
       
      }
  
      .register-name-input-error{
         
          margin-left: 220px;
      }
      .register-email-input-error{
          
        margin-left: 220px;
      }
      .register-password-input-error{
         
        margin-left: 220px;
      }
      .register-repeated-password-input-error{
         
        margin-left: 220px;
      }
      
 }