.navbar {
    height: 8vh;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
    background: transparent;
    color: #F9F9F9;
    font-family: inherit;
}



.navbar-links ul {
    display: flex;
    height: 100%;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
    
}

.navbar-links li button{
    height: 100%;
    width: 70px;
    background: transparent;
    border: none;
    outline: none;
    margin-left: 5px;
    color: #F9F9F9;
    
}
.navbar-links li button:hover {
    border-bottom: 1px solid #F9F9F9;
}


.toggle-button {
    position: absolute;
    top: 15px;
    right: 15px;
    display: none;
    width: 40px;
    height: 40px;
    border: none;
    outline: none;
    background:transparent;
    align-items: center;
}
.logo-container{
    height: 60px;
    width: 150px;
    background-image: url('../../images/logo4.png');
    background-size: cover;
}

@media all and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        background: #333C7D;
    }
    .navbar-links li button:hover {
        border-bottom: none;
    }
    
    .toggle-button {
        display: flex;
    }

    .navbar-links{
        top: 8vh;
        display: flex;
        position: absolute;
        visibility: hidden;
        opacity: 0;
        width: 100%;
        background-color: #333C7D;
    }

    .navbar-links ul {

        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
         margin-top: 2px;
    }


    .navbar-links.active {
        visibility: visible;
        opacity: 1;
        
    }

    
}