.player-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    position: absolute;
    z-index: 1500;
    color: #fff;
    background-color: #181719;
}
.player-title-container{
    width: 820px;
    height: 60px;
    background-color:#27242C;
    display: flex;
    flex-direction: column;
    /* align-items: left;
    align-content: flex-start; */
    justify-content: left;
    margin-bottom: 5px;
    position: relative;
}
.server-list{
    margin-top: 5px;
    display: flex;
    width: 820px;
    height: 40px;
    justify-content: stretch;
    background-color: #27242C;
}
.player-iframe{
    width: 820px;
    height: 470px;
}
.iframe{
    width: 100%;
    height: 100%;
}
.select-button{
    width: 100%;
	height: 100%;
    border: none;
    outline: none;
    cursor: pointer;
    /* background: linear-gradient(to top, #84cdfa 50%, #F9F9F9 50%); */
    background-size: 100% 200%;
    background-position: bottom left;
    transition: all .3s ease-out;
    background-color: transparent;
    color: #F3F3F9;
}
.select-button:hover{
    background-color: #84cdfa;
}
.selected-select-button{
    width: 100%;
	height: 100%;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all .3s ease-out;
    background-color: #84cdfa;
    color: #F3F3F9;
}
.salir{
    border: none;
    outline: none;
    cursor: pointer;
    position: absolute;
    width: 48px;
    height: 48px;
    right:  10px;
    top: 6px;
    background-color: #3D3A41;
    border-radius: 50%;
    color: #fff;
    border: 2px solid #fff;
}