@import url('https://fonts.googleapis.com/css2?family=Taviraj&display=swap');

*{
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont,'Taviraj', serif,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #F9F9F9 #18185E;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: #18185E;
}

*::-webkit-scrollbar-thumb {
  background-color: #F9F9F9;
  border-radius: 20px;
  border: 3px solid #18185E;
}